@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate-center {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(10px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(8px);
  }
  75% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}
* {
  font-family: Roboto;
}

body {
  margin: 0px;
}

p {
  display: flex;
  justify-content: left;
}

a {
  text-decoration: none;
  color: #000000;
}
a:visited {
  text-decoration: none;
  color: #000000;
}

h3,
h4 {
  margin-left: 10px;
}

.bg-grey {
  background-color: #F6F6F6;
  margin-left: -10px;
  margin-right: -10px;
  height: 275px;
}

.bg-grey-simple {
  background-color: #F6F6F6;
  position: sticky;
}

.title-font {
  font-family: Shrikhand;
  font-weight: 500;
}

.mail {
  color: #ffffff;
}

.button {
  text-align: center;
}

.container {
  max-width: 1280px;
  margin: auto;
  position: relative;
}

.button__explore {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(#FF79DA, #9356DC);
  border: 0px inset transparent;
  border-radius: 25px;
  color: #ffffff;
  font-size: 14px;
  height: 45px;
}
.button__explore:hover {
  text-shadow: 0px 0px 4px rgb(0, 0, 0);
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
}

.button__command {
  margin-top: 20px;
  width: 165px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(#FF79DA, #9356DC);
  border: 0px inset transparent;
  border-radius: 25px;
  color: #ffffff;
  font-size: 14px;
  height: 45px;
}
.button__command:hover {
  text-shadow: 0px 0px 4px rgb(0, 0, 0);
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
}

.section-header {
  display: flex;
}
.section-header .arrow-return {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-left: 20px;
}
@media all and (min-width: 1024px) {
  .section-header .arrow-return {
    margin-left: 70px;
    font-size: 28px;
  }
}

.logo-header {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 5px;
  max-width: 40%;
}

footer {
  margin-left: -10px;
  margin-right: -10px;
  background-color: #353535;
  color: #ffffff;
  padding: 30px 0px 30px 30px;
}
footer .logo-footer {
  margin-left: auto;
  margin-right: auto;
  max-width: 30%;
  filter: invert(100%);
}
footer .fa-utensils,
footer .fa-handshake-angle {
  margin-right: 10px;
  font-size: 14px;
}
@media all and (min-width: 1024px) {
  footer {
    padding-left: 190px;
  }
  footer .logo-footer {
    max-width: 8%;
  }
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #ffffff;
  animation: loader 1s;
  animation-delay: 2s;
  animation-fill-mode: both;
  z-index: 10000;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader__item {
  height: 16px;
  width: 16px;
  border-radius: 16px;
  animation: jump 1s;
  animation-iteration-count: 1;
}
.loader__itemContainer {
  display: flex;
  width: 80px;
  justify-content: space-between;
}
.loader__item--1 {
  background-color: #99E2D0;
}
.loader__item--2 {
  background-color: #9356DC;
  animation-delay: 0.5s;
}
.loader__item--3 {
  background-color: #FF79DA;
  animation-delay: 1s;
}

.location {
  background-color: #EAEAEA;
  margin-left: -10px;
  margin-right: -10px;
  justify-content: center;
  padding: 10px 0 10px;
  margin: 8px 0 0;
  box-shadow: inset 0px 15px 15px 0px rgba(0, 0, 0, 0.1);
}
.location__logo-gps {
  margin-right: 15px;
}

.intro {
  padding: 10px 0 0;
}
.intro__homepage-title {
  padding-top: 20px;
}
.intro__homepage-title, .intro__homepage-welcome {
  justify-content: center;
  text-align: center;
  margin: 5px 0 25px;
  padding: 20px 30px 0 30px;
}

.tutorial {
  margin: 0 10px 60px 10px;
}
.tutorial__title {
  padding-top: 25px;
}
@media all and (min-width: 1024px) {
  .tutorial__title {
    margin-left: 80px;
  }
}
@media all and (min-width: 1024px) {
  .tutorial__steps {
    display: flex;
    flex-direction: row;
    margin: 0 55px 0 55px;
  }
}
.tutorial__step {
  border-radius: 25px;
  display: flex;
  align-items: center;
}
@media all and (min-width: 1024px) {
  .tutorial__step {
    flex: 1;
  }
}
.tutorial__description {
  width: 100%;
  margin-left: -10px;
  align-items: center;
  border: 2px inset transparent;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.13);
  border-radius: 25px;
  padding: 20px 0 20px 20px;
  background-color: #F6F6F6;
}
.tutorial__description:hover {
  background-color: #F5EDFF;
}
.tutorial__description:hover .fa-mobile-screen-button,
.tutorial__description:hover .fa-list,
.tutorial__description:hover .fa-store {
  color: #9356DC;
}
.tutorial__description:hover .fa-mobile-screen-button:hover,
.tutorial__description:hover .fa-list:hover,
.tutorial__description:hover .fa-store:hover {
  color: #9356DC;
}

.restaurants {
  height: 1160px;
  width: auto;
  padding: 30px 10px 30px 10px;
}
@media all and (min-width: 1024px) {
  .restaurants {
    height: auto;
  }
}
.restaurants__title {
  margin-left: 25px;
}
@media all and (min-width: 1024px) {
  .restaurants__title {
    margin-left: 90px;
  }
}
@media all and (min-width: 1024px) {
  .restaurants__flex {
    display: flex;
    flex-direction: row;
    margin: 0 75px 0 75px;
  }
}
.restaurants__card {
  margin: 0 20px 20px;
}
.restaurants__figure {
  width: 100%;
  height: 100%;
  margin: 0px;
}
.restaurants__tag {
  position: relative;
}
.restaurants__tag::before {
  content: "Nouveau";
  background-color: #99E2D0;
  position: absolute;
  top: 6%;
  right: 3%;
  display: block;
  color: green;
  width: 75px;
  height: 20px;
  text-align: center;
  padding-top: 5px;
  font-size: 14px;
  border-radius: 4%;
  font-weight: bold;
}
.restaurants__img {
  object-fit: cover;
  height: 70%;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
.restaurants__captions {
  margin-left: 10px;
  font-weight: 800;
  padding: 13px 0 5px 0;
  text-decoration: none;
  border: none;
  color: #000000;
}
.restaurants__name {
  margin: 0;
}
.restaurants__location {
  margin-left: 10px;
}

.like {
  border: none;
  background: none;
  padding: 0;
  position: absolute;
  right: 10px;
  bottom: 25px;
  width: 18px;
  height: 23px;
}
.like .fa-heart {
  margin-right: 15px;
  padding-top: 5px;
  transition: color 1s;
}
.like:hover .heart-bg {
  position: absolute;
  top: 0%;
  left: 0%;
  visibility: visible;
  opacity: 100;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.like:hover .heart-no-bg {
  opacity: 0;
}

.heart-no-bg {
  opacity: 100;
}

.heart-bg {
  visibility: hidden;
}
.heart-bg:hover, .heart-bg:focus, .heart-bg:active {
  visibility: visible;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.fa-mobile-screen-button,
.fa-list,
.fa-store {
  color: #7E7E7E;
  margin: 0 15px 0 10px;
}

.fa-1,
.fa-2,
.fa-3 {
  color: #ffffff;
  width: 20px;
  height: 20px;
  border: 0px inset #9356DC;
  border-radius: 25px;
  font-size: 10px;
  background-color: #9356DC;
  z-index: 1;
}
.fa-1::before,
.fa-2::before,
.fa-3::before {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  font-size: 10px;
}

.bg-white {
  background-color: #ffffff;
  height: 250px;
  width: 92%;
  border-radius: 25px;
}
@media all and (min-width: 700px) {
  .bg-white {
    width: auto;
  }
}
@media all and (min-width: 1024px) {
  .bg-white {
    width: 92%;
  }
}

.img-restaurant__top {
  object-fit: cover;
  height: 200px;
  width: 100%;
}
@media all and (min-width: 1024px) {
  .img-restaurant__top {
    height: 400px;
  }
}

.menu-list-333 {
  height: 1025px;
  border-radius: 30px 30px 0 0;
  margin-top: -30px;
}
.menu-list-333__menu-card--1 {
  animation: fade-in 1s linear both;
  animation-delay: 100ms;
}
.menu-list-333__menu-card--2 {
  animation: fade-in 1s linear both;
  animation-delay: 200ms;
}
.menu-list-333__menu-card--3 {
  animation: fade-in 1s linear both;
  animation-delay: 300ms;
}
.menu-list-333__menu-card--4 {
  animation: fade-in 1s linear both;
  animation-delay: 400ms;
}
.menu-list-333__menu-card--5 {
  animation: fade-in 1s linear both;
  animation-delay: 500ms;
}
.menu-list-333__menu-card--6 {
  animation: fade-in 1s linear both;
  animation-delay: 600ms;
}
.menu-list-333__menu-card--7 {
  animation: fade-in 1s linear both;
  animation-delay: 700ms;
}
.menu-list-333__menu-card--8 {
  animation: fade-in 1s linear both;
  animation-delay: 800ms;
}
.menu-list-333__menu-card--9 {
  animation: fade-in 1s linear both;
  animation-delay: 900ms;
}
@media all and (min-width: 1024px) {
  .menu-list-333 {
    height: 450px;
  }
}

.menu-list-433 {
  height: 1070px;
  border-radius: 30px 30px 0 0;
  margin-top: -30px;
}
.menu-list-433__menu-card--1 {
  animation: fade-in 1s linear both;
  animation-delay: 100ms;
}
.menu-list-433__menu-card--2 {
  animation: fade-in 1s linear both;
  animation-delay: 200ms;
}
.menu-list-433__menu-card--3 {
  animation: fade-in 1s linear both;
  animation-delay: 300ms;
}
.menu-list-433__menu-card--4 {
  animation: fade-in 1s linear both;
  animation-delay: 400ms;
}
.menu-list-433__menu-card--5 {
  animation: fade-in 1s linear both;
  animation-delay: 500ms;
}
.menu-list-433__menu-card--6 {
  animation: fade-in 1s linear both;
  animation-delay: 600ms;
}
.menu-list-433__menu-card--7 {
  animation: fade-in 1s linear both;
  animation-delay: 700ms;
}
.menu-list-433__menu-card--8 {
  animation: fade-in 1s linear both;
  animation-delay: 800ms;
}
.menu-list-433__menu-card--9 {
  animation: fade-in 1s linear both;
  animation-delay: 900ms;
}
.menu-list-433__menu-card--10 {
  animation: fade-in 1s linear both;
  animation-delay: 1000ms;
}
@media all and (min-width: 1024px) {
  .menu-list-433 {
    height: 500px;
  }
}

.restaurant {
  padding: 10px 0 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurant__title {
  font-size: 26px;
  margin: 15px 0 10px 10px;
}
@media all and (min-width: 1024px) {
  .restaurant__title {
    margin-left: 80px;
  }
}
.restaurant__like {
  border: none;
  background: none;
  padding: 0;
  width: 18px;
  height: 28px;
  margin-right: 15px;
  font-size: 24px;
}
.restaurant__like:hover .heart-bg {
  position: absolute;
  right: 15px;
  top: 35px;
  visibility: visible;
  opacity: 100;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
@media all and (min-width: 1024px) {
  .restaurant__like:hover .heart-bg {
    right: 70px;
    top: 40px;
  }
}
.restaurant__like:hover .heart-no-bg {
  opacity: 0;
}
@media all and (min-width: 1024px) {
  .restaurant__like {
    font-size: 28px;
    margin-right: 70px;
  }
}

.submenus__title {
  margin: 20px 0 15px 25px;
  padding-bottom: 5px;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  font-weight: 400;
}
@media all and (min-width: 1024px) {
  .submenus__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 6px;
    margin: 0 70px 0 70px;
  }
}
.submenus__plate {
  margin-left: 25px;
}
.submenus__card {
  margin-bottom: 10px;
}
.submenus__name {
  padding: 10px 0 0 10px;
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 75%;
}
.submenus__subname {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.submenus__details {
  padding: 5px 0 0 10px;
  font-size: 12px;
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80%;
}
.submenus__price {
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  flex: 1;
  float: right;
  padding: 0 10px 10px 0;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: visible;
  padding-bottom: 0px;
  padding-top: 5px;
}

.bg-white-menu {
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.13);
  display: flex;
  background-color: #ffffff;
  height: 60px;
  border-radius: 25px;
  margin-right: 10px;
}
.bg-white-menu__description {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.bg-white-menu .checkmark {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-white-menu:hover .checkmark {
  visibility: visible;
  width: 20%;
  height: 100%;
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  font-size: 14px;
}
.bg-white-menu:hover .fa-check {
  font-size: 14px;
}
.bg-white-menu:hover .rotate-center {
  animation: rotate-center 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.bg-white-menu:hover .slide-in-right {
  animation: slide-in-right 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@media all and (min-width: 1024px) {
  .bg-grey-simple {
    margin: -30px 100px 0 100px;
  }
}

.fa-check {
  font-size: 0px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  color: #99E2D0;
}

.fa-heart {
  font-size: 18px;
}

/*# sourceMappingURL=style.css.map */
