footer {
    @include margin-fond-colore;
    background-color: $color-grey-dark;
    padding-left: 25px;
    padding-top: 30px;
    color:$color-white;
    padding-bottom: 30px;
    .logo-footer {
        @include margin-side;
        width: 30%;
        filter: invert(100%);
    }
    .fa-utensils, .fa-handshake-angle {
        margin-right: 10px;
    }
}