footer {
    @include margin-fond-colore;
    background-color: $color-grey-dark;
    padding-left: 30px;
    padding-top: 30px;
    color: $color-white;
    padding-bottom: 30px;

    .logo-footer {
        @include margin-side;
        max-width: 30%;
        filter: invert(100%);
    }

    .fa-utensils,
    .fa-handshake-angle {
        margin-right: 10px;
        font-size: 14px;
    }

    @media all and (min-width: 1024px) {
        padding-left: 190px;

        .logo-footer {
            max-width: 8%;
        }
    }
}