.section-header {
    display:$flex;

    .arrow-return {
        display:$flex;
        align-items: $center;
        font-size: 18px;
        margin-left: 20px;

        @media all and (min-width: $media-desktop) {
            margin-left: 70px;
            font-size: 28px;
        }
    }
}

.logo-header {
    display:$flex;
    @include margin-side;
    padding-top: 25px;
    padding-bottom: 5px;
    max-width: 40%;
}