.section-header {
    display: flex;
    .arrow-return {
        display: flex;
        align-items: center;
        font-size: 18px;
        margin-left: 20px;
    }
}

.logo-header {
    display: flex;
    @include margin-side;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 40%;
}



