.button__explore {
    width: 180px;
    @include margin-side;
    background: $color-gradient;
    border: $button-border;
    border-radius: $button-radius;
    color: $color-white;
    font-size:$button-font-size;
    height: $button-height;

    &:hover {
        text-shadow: $button-shadow; // // Tentative d'amélioration de la lisibilité
        box-shadow: $button-box;
    }
}

.button__command {
    margin-top: 35px;
    width: 165px;
    @include margin-side;
    background: $color-gradient;
    border: $button-border;
    border-radius: $button-radius;
    color: $color-white;
    font-size: $button-font-size;
    height: $button-height;

    &:hover {
        text-shadow: $button-shadow; // Tentative d'amélioration de la lisibilité
        box-shadow:$button-box;
    }
}