* {
    font-family: $secondary-font;
}

body {
    margin: $zero-px;
}

p {
    display: $flex;
    justify-content: $left;
}

a {
    text-decoration: $none;
    color:$color-black;

    &:visited {
        text-decoration: $none;
        color:$color-black;
    }
}

h3,
h4 {
    @include margin-base-left;
}

.bg-grey {
    background-color: $color-gris-intro;
    @include margin-fond-colored;
    height: 275px;
}

.bg-grey-simple {
    background-color: $color-gris-intro;
    position: $sticky;
}

.title-font {
    font-family: $primary-font;
    font-weight: 500;
}

.mail {
    color: $color-white;
}

.button {
    text-align: $center;
}

.container {
    max-width: 1280px;
    margin: $auto;
    position: $relative;
  }

  // .flex-line-between {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     align-content: space-between;
// }

// .flex-column-between {
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;
//     align-content: space-between;
// }

// .flex-column {
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;
// }